In [59]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.simplefilter('ignore')
%config InlineBackend.figure_format = 'svg' 
from pylab import rcParams
rcParams['figure.figsize'] = 8, 5

In [60]:
df = pd.read_csv('random_timetable.csv', sep=';', encoding='cp1251')
df.head()

,Номер группы,День,Номер пары,Предмет,Преподаватель,Вид занятия,Адрес
0,101,пн,1,Мат Анализ,Иванов,Лекция,Васильевский остров
1,101,пн,2,Английский,Шептунов,Практика,Васильевский остров
2,101,пн,3,ОП,Рахимов,Лекция,Васильевский остров
3,101,вт,1,Алгебра,Заболотный,Лекция,Петергоф
4,101,вт,2,Мат Анализ,Иванов,Лекция,Петергоф

In [113]:
df = pd.read_csv('data.csv', sep='~', encoding = 'utf-8')
df.head()

,Oid,Id,Index,Start,End,ContingentUnit,EducatorAssignment,EducatorsDisplayText,EducatorsDisplayTextEnglish,LocationsDisplayText,LocationsDisplayTextEnglish,Subject,SubjectEnglish,StudyEventsTimeTableKind,Properties,WebAvailability,Cohort
0,F2E2073C-2AA5-41EB-9129-0004321C1268,1033576,1.0,2018-09-29 10:50:00.000,2018-09-29 12:30:00.000,2653BA9C-C524-46CD-BCE7-CCE24CA92DB9,724FF90E-ECFD-479F-91B0-5D6B60776DB8,"сол и.е,рапудф",".l seaof,pdriu","В.О., Университетская наб., д. 7-9-11, лит. А,...","V.O., Universitetskaya nab. 7-9-11, letter A, ...","Алгоритмы в биоинформатике, лекция","Bioinformatics Algorithms, lecture",02030202-AC4F-4908-971C-C83ACCBE358C,0,1,0
1,F2E2073C-2AA5-41EB-9129-0004321C1268,1033576,0.0,2018-09-22 10:50:00.000,2018-09-22 12:30:00.000,2653BA9C-C524-46CD-BCE7-CCE24CA92DB9,724FF90E-ECFD-479F-91B0-5D6B60776DB8,"сол и.е,рапудф",".l seaof,pdriu","В.О., Университетская наб., д. 7-9-11, лит. А,...","V.O., Universitetskaya nab. 7-9-11, letter A, ...","Алгоритмы в биоинформатике, лекция","Bioinformatics Algorithms, lecture",02030202-AC4F-4908-971C-C83ACCBE358C,0,1,0
2,13051ECA-D481-45BD-A173-0005C340AE62,1047155,0.0,2018-09-05 10:30:00.000,2018-09-05 12:00:00.000,8C7F8906-0816-4300-9EDF-8283B99AE88E,7CA0F2E2-BB52-4AC2-BB60-6ABB2D8DD49E,"ые. аовнд,црязт","riv.spe ,coaynztf","В.О., 6 линия, д. 15, 212","V.O., 6 liniya 15, 212","Мультимедийные технологии в дизайне, лекция","Multimedia Technologies in Design, lecture",02030202-AC4F-4908-971C-C83ACCBE358C,0,1,0
3,13051ECA-D481-45BD-A173-0005C340AE62,1047155,2.0,2018-09-19 10:30:00.000,2018-09-19 12:00:00.000,8C7F8906-0816-4300-9EDF-8283B99AE88E,7CA0F2E2-BB52-4AC2-BB60-6ABB2D8DD49E,"ые. аовнд,црязт","riv.spe ,coaynztf","В.О., 6 линия, д. 15, 212","V.O., 6 liniya 15, 212","Мультимедийные технологии в дизайне, лекция","Multimedia Technologies in Design, lecture",02030202-AC4F-4908-971C-C83ACCBE358C,0,1,0
4,13051ECA-D481-45BD-A173-0005C340AE62,1047155,3.0,2018-09-26 10:30:00.000,2018-09-26 12:00:00.000,8C7F8906-0816-4300-9EDF-8283B99AE88E,7CA0F2E2-BB52-4AC2-BB60-6ABB2D8DD49E,"ые. аовнд,црязт","riv.spe ,coaynztf","В.О., 6 линия, д. 15, 212","V.O., 6 liniya 15, 212","Мультимедийные технологии в дизайне, лекция","Multimedia Technologies in Design, lecture",02030202-AC4F-4908-971C-C83ACCBE358C,0,1,0

In [114]:
df = pd.read_csv('data.csv', sep='~', encoding = 'utf-8', usecols=['Id', 'Start', 'End', 'EducatorAssignment', 'LocationsDisplayText', 'Subject'])
df.head()

,Id,Start,End,EducatorAssignment,LocationsDisplayText,Subject
0,1033576,2018-09-29 10:50:00.000,2018-09-29 12:30:00.000,724FF90E-ECFD-479F-91B0-5D6B60776DB8,"В.О., Университетская наб., д. 7-9-11, лит. А,...","Алгоритмы в биоинформатике, лекция"
1,1033576,2018-09-22 10:50:00.000,2018-09-22 12:30:00.000,724FF90E-ECFD-479F-91B0-5D6B60776DB8,"В.О., Университетская наб., д. 7-9-11, лит. А,...","Алгоритмы в биоинформатике, лекция"
2,1047155,2018-09-05 10:30:00.000,2018-09-05 12:00:00.000,7CA0F2E2-BB52-4AC2-BB60-6ABB2D8DD49E,"В.О., 6 линия, д. 15, 212","Мультимедийные технологии в дизайне, лекция"
3,1047155,2018-09-19 10:30:00.000,2018-09-19 12:00:00.000,7CA0F2E2-BB52-4AC2-BB60-6ABB2D8DD49E,"В.О., 6 линия, д. 15, 212","Мультимедийные технологии в дизайне, лекция"
4,1047155,2018-09-26 10:30:00.000,2018-09-26 12:00:00.000,7CA0F2E2-BB52-4AC2-BB60-6ABB2D8DD49E,"В.О., 6 линия, д. 15, 212","Мультимедийные технологии в дизайне, лекция"

In [115]:
df.columns = ['Номер группы', 'Start', 'End', 'Преподаватель', 'Адрес', 'Предмет']
df.head()

,Номер группы,Start,End,Преподаватель,Адрес,Предмет
0,1033576,2018-09-29 10:50:00.000,2018-09-29 12:30:00.000,724FF90E-ECFD-479F-91B0-5D6B60776DB8,"В.О., Университетская наб., д. 7-9-11, лит. А,...","Алгоритмы в биоинформатике, лекция"
1,1033576,2018-09-22 10:50:00.000,2018-09-22 12:30:00.000,724FF90E-ECFD-479F-91B0-5D6B60776DB8,"В.О., Университетская наб., д. 7-9-11, лит. А,...","Алгоритмы в биоинформатике, лекция"
2,1047155,2018-09-05 10:30:00.000,2018-09-05 12:00:00.000,7CA0F2E2-BB52-4AC2-BB60-6ABB2D8DD49E,"В.О., 6 линия, д. 15, 212","Мультимедийные технологии в дизайне, лекция"
3,1047155,2018-09-19 10:30:00.000,2018-09-19 12:00:00.000,7CA0F2E2-BB52-4AC2-BB60-6ABB2D8DD49E,"В.О., 6 линия, д. 15, 212","Мультимедийные технологии в дизайне, лекция"
4,1047155,2018-09-26 10:30:00.000,2018-09-26 12:00:00.000,7CA0F2E2-BB52-4AC2-BB60-6ABB2D8DD49E,"В.О., 6 линия, д. 15, 212","Мультимедийные технологии в дизайне, лекция"

In [116]:
df['Предмет'].apply(str);

In [117]:
df['Вид занятия']=df['Предмет'].str.split(',').str.get(1)
df['Предмет']=df['Предмет'].str.split(',').str.get(0)

In [118]:
df.head()

,Номер группы,Start,End,Преподаватель,Адрес,Предмет,Вид занятия
0,1033576,2018-09-29 10:50:00.000,2018-09-29 12:30:00.000,724FF90E-ECFD-479F-91B0-5D6B60776DB8,"В.О., Университетская наб., д. 7-9-11, лит. А,...",Алгоритмы в биоинформатике,лекция
1,1033576,2018-09-22 10:50:00.000,2018-09-22 12:30:00.000,724FF90E-ECFD-479F-91B0-5D6B60776DB8,"В.О., Университетская наб., д. 7-9-11, лит. А,...",Алгоритмы в биоинформатике,лекция
2,1047155,2018-09-05 10:30:00.000,2018-09-05 12:00:00.000,7CA0F2E2-BB52-4AC2-BB60-6ABB2D8DD49E,"В.О., 6 линия, д. 15, 212",Мультимедийные технологии в дизайне,лекция
3,1047155,2018-09-19 10:30:00.000,2018-09-19 12:00:00.000,7CA0F2E2-BB52-4AC2-BB60-6ABB2D8DD49E,"В.О., 6 линия, д. 15, 212",Мультимедийные технологии в дизайне,лекция
4,1047155,2018-09-26 10:30:00.000,2018-09-26 12:00:00.000,7CA0F2E2-BB52-4AC2-BB60-6ABB2D8DD49E,"В.О., 6 линия, д. 15, 212",Мультимедийные технологии в дизайне,лекция

In [119]:
df['День'] = df['Start'].str.split(' ').str.get(0)
df['Время начала'] = df['Start'].str.split(' ').str.get(1)
df['Время окончания'] = df['End'].str.split(' ').str.get(1)

In [122]:
df = df[['Номер группы', 'Преподаватель', 'Адрес', 'Предмет', 'Вид занятия', 'День', 'Время начала', 'Время окончания']]
df.head()

,Номер группы,Преподаватель,Адрес,Предмет,Вид занятия,День,Время начала,Время окончания
0,1033576,724FF90E-ECFD-479F-91B0-5D6B60776DB8,"В.О., Университетская наб., д. 7-9-11, лит. А,...",Алгоритмы в биоинформатике,лекция,2018-09-29,10:50:00.000,12:30:00.000
1,1033576,724FF90E-ECFD-479F-91B0-5D6B60776DB8,"В.О., Университетская наб., д. 7-9-11, лит. А,...",Алгоритмы в биоинформатике,лекция,2018-09-22,10:50:00.000,12:30:00.000
2,1047155,7CA0F2E2-BB52-4AC2-BB60-6ABB2D8DD49E,"В.О., 6 линия, д. 15, 212",Мультимедийные технологии в дизайне,лекция,2018-09-05,10:30:00.000,12:00:00.000
3,1047155,7CA0F2E2-BB52-4AC2-BB60-6ABB2D8DD49E,"В.О., 6 линия, д. 15, 212",Мультимедийные технологии в дизайне,лекция,2018-09-19,10:30:00.000,12:00:00.000
4,1047155,7CA0F2E2-BB52-4AC2-BB60-6ABB2D8DD49E,"В.О., 6 линия, д. 15, 212",Мультимедийные технологии в дизайне,лекция,2018-09-26,10:30:00.000,12:00:00.000